#######################
## FILES
#######################

!*.yaml
*.conf
*.mp3
.spotify-token-cache
.uuid
*.crt
*.pem
*.uuid
secrets.yaml
known_devices.yaml
home-assistant.log
certificate.pem
privkey.pem
plex.conf
entity_registry.yaml
rich-icon.jpg



#######################
## DIRECTORIES
#######################

deps
tts
www/images
.storage
www/icons

#######################
## LOGS + DB
#######################

*.log
*.db*
