#######################
## FILES
#######################

!*.yaml
*.conf
*.mp3
.spotify-token-cache
.uuid
*.crt
*.pem
secrets.yaml
known_devices.yaml
certificate.pem
privkey.pem
plex.conf


#######################
## DIRECTORIES
#######################

deps
tts
www/images

#######################
## LOGS + DB
#######################

*.log
*.db
